<!DOCTYPE html>
<html>

<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Page Meta --}}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Brand icon --}}
    <!-- <link rel="shortcut icon" href="{{asset "favicon.ico"}}"> -->

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />

    {{!-- Ghost outputs important style and meta data with this tag --}}
    {{ghost_head}}

    {{{block "pageStyles"}}}
    <!-- <script src="https://npmcdn.com/react@15.3.1/dist/react.js"></script>
    <script src="https://npmcdn.com/react-dom@15.3.1/dist/react-dom.js"></script>
    <script src="https://npmcdn.com/babel-core@5.8.38/browser.min.js"></script>
    <script src="https://npmcdn.com/jquery@3.1.0/dist/jquery.min.js"></script> -->
    <!--<script src="https://npmcdn.com/remarkable@1.6.2/dist/remarkable.min.js"></script>-->

</head>

<body>
    {{{body}}}

    {{> scripts}}
    {{> other}}

    {{{block 'pageScripts'}}}

<!-- the rest may be deleted later -->

    <!-- scripts -->

<!-- end -->
</body>
</html>
